html {
  overflow-anchor: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  min-width: 300px;
}

#large-screen-nav {
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #427fb0;
  transition: 0.25s;
  border-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#large-screen-nav > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#large-screen-nav > ul > li {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 26px;
  color: #000000;
  display: inline;
  margin-bottom: 0;
}

#large-screen-nav > ul > li:hover {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 26px;
  color: #f37171;
  font-weight: 600;
  display: inline;
  transition: 0.3s;
  cursor: pointer;
}

#large-screen-nav > ul > li > a {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 26px;
  color: #000000;
  display: inline-block;
  margin-bottom: 0;
}

#large-screen-nav > ul > li > a:hover {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: #f37171;
  display: inline-block;
  margin-bottom: 0;
  transition: 0.3s;
  cursor: pointer;
}

#large-screen-nav > ul > li > a:after {
  transition-delay: 0.2s;
  transition-duration: 0.7s;
  transition-property: all;
  transition-timing-function: ease-out;
}

body {
  color: #000000;
  font-size: 400;
  line-height: 1.5;
  background-color: #797977;
  margin: 0;
  padding: 0;
}

main {
  display: block;
  margin: 0 auto;
  position: relative;
  unicode-bidi: isolate;
  padding-top: 65px; /* Ensure content does not overlap with navbar */
}

.container {
  display: block;
  margin: 0 auto;
  width: auto;
  position: relative;
}

.container h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-text-size-adjust: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.container h2 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-text-size-adjust: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-align: left;
}

.container h3 {
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin-bottom: 5px;
  -webkit-text-size-adjust: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-align: left;
}

.container p, li {
  font-size: 20px;
  font-weight: 400;
  -webkit-text-size-adjust: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1000px;
}

ul, ol{
  padding-left: 25px;
}

#title{
  display: flex;
  padding-top: 20px;
  
}

hr {
  width: 200%;
  margin-left: -50px;
}

img{
  max-width: 640px;
}


@media screen and (min-width: 1024px) {
  .container {
      max-width: 960px;
  }
}
