html {
  overflow-anchor: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-width: 300px;
}

#large-screen-nav {
  height: 100%;
  width: 175px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  background-color: #427fb0;
  padding-top: 15px;
  transition: 0.25s;
  border-color: #000000;
}

#large-screen-nav > ul {
  padding-left: 30px;
}

#large-screen-nav > ul > li {
  padding: 8px, 8px, 8px, 32px;
  text-decoration: none;
  font-size: 26px;
  color: #000000;
  display: block;
  margin-bottom: 15px;
}

#large-screen-nav > ul > li:hover {
  padding: 8px, 8px, 8px, 32px;
  text-decoration: none;
  font-size: 26px;
  color: #f37171;
  font-weight: 600;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

#large-screen-nav > ul > li:after {
  padding: 8px, 8px, 8px, 32px;
  text-decoration: none;
  font-size: 26px;
  color: #f37171;
  font-weight: 600;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

#large-screen-nav > ul > li > a {
  padding: 8px, 8px, 8px, 32px;
  text-decoration: none;
  font-size: 26px;
  color: #000000;
  display: block;
  margin-bottom: 15px;
}

#large-screen-nav > ul > li > a:hover {
  padding: 8px, 8px, 8px, 32px;
  text-decoration: none;
  font-size: 26px;
  font-weight: bold;
  color: #f37171;
  display: block;
  margin-bottom: 15px;
  transition: 0.3s;
  cursor: pointer;
}

#large-screen-nav > ul > li > a:after {
transition-delay: 0.5s;
transition-duration: 1.7s;
transition-property: all;
transition-timing-function: ease-out;
}

body {
  margin-left: 200px;
  color: #000000;
  font-size: 400;
  line-height: 1.5;
  width: auto;
  background-color: #797977;
}

main {
  display: column;
  margin: 0, auto;
  position: relative;
  unicode-bidi: isolate;
}

#intro-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8e9093;
  margin-top: -10px;
  margin-left: -30px;
  margin-right: -30px;
}

#intro-body > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 10px;
  max-width: 960px;
}

#intro-body > h2 {
  font-size: 36px;
  font-weight: 1000;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: auto;
}

.container > h2 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-text-size-adjust: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.container > p {
  font-size: 20px;
  font-weight: 400;
  -webkit-text-size-adjust: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1000px;
}
hr {
  width: 200%;
  margin-left: -50px;
}

#education-card {
  background-color: white;
  border: 1px, solid rgb(0, 0, 0);
  box-shadow: 0px, 0px, 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  display: block;
  max-width: 800px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

#education-content {
  font-size: 20px;
  font-weight: 400;
}

#edu-title-content {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 50px;
}

#edu-title-content > a {
  color: black;
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
}

#edu-title-content > a:hover {
  color: rgb(102, 102, 102);
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: underline;
}

#edu-title-content > p {
  margin-top: 5px;
  margin-left: 115px;
  font-size: 22px;
}

.brown-text {
  color: brown;
  margin-top: -20px;
}

#degree-text {
  margin-top: -10px;
}

.project-card {
  background-color: white;
  border: 1px, solid rgb(0, 0, 0);
  display: block;
  box-shadow: 0px, 0px, 15px;
  margin-bottom: 30px;
  width: 840px;
  height: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.project-img {
  display: block;
  float: left;
  height: 300px;
  width: 300px;
  margin-right: 20px;
}

.project-img > img {
  display: block;
  float: left;
  height: 300px;
  width: 300px;
}

.project-card-content {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.project-card-title {
  font-size: 28px;
  text-decoration: none;
  color: #000000;
  margin-top: 10px;
}

.project-card-title:hover {
  font-size: 28px;
  text-decoration: none;
  color: #f37171;
  text-decoration: underline;
  font-weight: bold;
  transition: 0.2s;
}

.project-card-content > p {
  font-size: 18px;
  margin-right: 10px;
}

.project-card-link {
  font-size: 22px;
  color: rgb(0, 81, 255);
  margin-top: 20px;
}

#skills > .container > ul {
  display: block;
  margin: 0, auto;
  padding: 0;
  max-width: 840px;
}

#skills > .container li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 20px;
}

#level {
  display: inline-flex;
  gap: 100px;
  margin: 0, auto;
  padding-right: 75px;
  padding-top: 15px;

}

.level-item {
  text-align: center !important;
}

.level-item > a > i {
  color: #002fff;
  font-size: 40px;
}

.level-item > a > i:hover {
  color: #3e49e9;
  font-size: 40px;
}

.level-item > p > a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.level-item > p > a:hover {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}

/* Media Query */
@media (max-width: 1000px) {
  .project-card {
    height: auto;
    width: auto;
  }

  .project-img {
    display: none;
  }
}

@media (max-width: 1070px) {
  .brown-text {
    margin-top: 5px;
  }
}

@media (max-width: 600px) {
  #edu-title-content {
    display: block;
  }

  #edu-title-content > a {
    color: black;
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
  }

  #edu-title-content > p {
    margin-top: 5px;
    margin-left: 0px;
    font-size: 22px;
  }

  .brown-text {
    color: brown;
    margin-top: -20px;
  }
}

@media (max-width: 925px) {
  #level {
    display: flex;
    flex-direction: column;
    margin: 0, auto;
    padding: 0;
    gap: 20px;
  }
}
